/* Ajoutez ce code dans un fichier CSS séparé, par exemple Login.css */

.heading {
    text-align: center;
    margin-top: 20px;
  }
  
  .heading h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .form form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: greenyellow;
  }
  